@model Lab.Data.Model.Car

@Html.HiddenFor(m => m.Id, new { @class = "form-control" })
<div class="form-group">
    @Html.LabelFor(m => m.Manufacturer, new { @class = "control-label col-sm-2" })
    <div class="col-sm-4">
        @Html.TextBoxFor(m => m.Manufacturer, new { @class = "form-control", placeholder = "Manufacturer" })
    </div>
    <div class="has-error col-sm-2" style="padding-left:0px">
        @Html.ValidationMessageFor(m => m.Manufacturer, null, new { @class = "help-block" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Model, new { @class = "control-label col-sm-2" })
    <div class="col-sm-4">
        @Html.TextBoxFor(m => m.Model, new { @class = "form-control", placeholder = "Model" })
    </div>
    <div class="has-error col-sm-2" style="padding-left:0px">
        @Html.ValidationMessageFor(m => m.Model, null, new { @class = "help-block" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Color, new { @class = "control-label col-sm-2" })
    <div class="col-sm-4">
        @Html.TextBoxFor(m => m.Color, new { @class = "form-control", placeholder = "Color" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Year, new { @class = "control-label col-sm-2" })
    <div class="col-sm-4">
        @Html.TextBoxFor(m => m.Year, new { @class = "form-control", placeholder = "Year" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Category, new { @class = "control-label col-sm-2" })
    <div class="col-sm-4">
        @Html.TextBoxFor(m => m.Category, new { @class = "form-control", placeholder = "Category" })
    </div>
</div>

@if ((Model.Id != 0 && CurrentUser.IsInRole("Cars", "Update")) || (Model.Id == 0 && CurrentUser.IsInRole("Cars", "Create")))
{
    <div class="form-actions">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                <span>Save</span>
            </button>
        </div>
    </div>    
}
<a>
    <i class="glyphicon glyphicon-circle-arrow-left"></i>
    <span class="sr-only">@Html.ActionLink("Back to List", "CarList", "Car")</span>
</a>