@model List<Lab.Data.Model.Car>
@{
    ViewBag.Title = "Cars List";
}
<div class="modal fade bs-example-modal-sm" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the selected car?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a href="#" class="btn btn-primary" id="deletelink">Delete</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @if(Model != null && Model.Count > 0)
        {
            <table class="table">
                <tr style="white-space:nowrap">
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th>Color</th>
                    <th>Year</th>
                    <th>Category</th>
                    @if (@CurrentUser.IsInRole("Cars", "Update"))
                    {
                        <th style="min-width: 60px">Edit</th>
                    }
                    @if (@CurrentUser.IsInRole("Cars", "Delete"))
                    {
                        <th style="min-width: 75px">Delete</th>
                    }
                </tr>
                @foreach (var car in Model)
                {
                    <tr style="white-space:nowrap">
                        <td>@car.Manufacturer</td>
                        <td>@car.Model</td>
                        <td>@car.Color</td>
                        <td>@car.Year</td>
                        <td>@car.Category</td>
                        @if (@CurrentUser.IsInRole("Cars", "Update"))
                        {
                            <td>
                                <a>
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    <span class="sr-only">@Html.ActionLink("Edit", "EditCar", "Car", new { Id = car.Id }, null)</span>
                                </a>
                            </td>
                        }
                        @if (@CurrentUser.IsInRole("Cars", "Delete"))
                        {
                            <td>
                                <a href="#" data-toggle="modal" data-target="#DeleteModal" data-whatever=@car.Id>
                                    <i class="glyphicon glyphicon-remove-circle"></i>
                                    <span class="sr-only"></span>Delete
                                </a>
                            </td>
                        }
                    </tr>
                }
            </table>
        }
        @if(CurrentUser.IsInRole("Cars","Create"))
        { 
            <a>
                <i class="glyphicon glyphicon-plus"></i>
                <span class="sr-only">@Html.ActionLink("Add New Car", "AddCar", "Car")</span>
            </a>
        }
    </div>
</div>
<script>
    $('#DeleteModal').on('show.bs.modal', function (event) {
        var link = $(event.relatedTarget)
        var carId = link.data('whatever')

        var modal = $(this)
        modal.find('#deletelink').attr('href', 'DeleteCar?id=' + carId)
    });
</script>
